body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 10px 30px 0px 150px;
    justify-content: center;
    height: 100vh;
    background-color: #01080e;
    position: relative;
    overflow: unset;
    
}

/*Colunas*/
.pilares-container {
    display: flex;
    justify-content: space-between;
}

.pilar {
    padding: 20px;
    width: 45%;

}


.pilares-container2 {
    display: flex;
    justify-content: space-between;
}

.pilar2 {
    padding: 20px;
    width: 45%;
}

/*Fim das colunas*/

h1 {
    color: #D7F9FF;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 10px;
}

.p-titulo {
    color: #D7F9FF;
    margin-top: -7px;

}

.titulo {
    color: #2bdefd;
}

.solution {
    user-select: none;
    font-size: 13px;
    display: none;

}


/*TEXTO FINAL CENTRALIZADO*/

.textofinal {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    transition: transform 0.5s ease;
    /* Adiciona transição suave para a mudança de transformação */
    animation: fade-in 1s ease-in-out;

}

.p-titulo-final {
    color: #000;
    

}

/*FIM DO TEXTO FINAL*/

/*RODAPÉ*/

.rodape {
    height: 50px;
}
