
.card {
    position: inherit;
    background-color: #021017;
    border: 1px solid #012640;
    padding: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    width: 180px;
    height: 150px;
    text-align: left;
    transition: transform 0.5s ease;
    /* Adiciona transição suave para a mudança de transformação */
    animation: fade-in 1s ease-in-out;
}


.card:hover {
    border: 1px solid #6bd1ff;

}


.card-ativo {
    transform: rotateY(180deg);
}



.card-ativo h2 {
    display: none;
}

.card-ativo .solution {
    color: #d7f9ff;
    transform: rotateY(180deg);
    font-weight: bold;
    display: block;
}


.card h2 {
    font-family: "Inter", sans-serif;
    font-size: 13px;
    padding: 0px 0px;
    margin: 0;

}


/* CARD RED */

.card .p1 {
    color: #E81B5C;
    font-size: 15px;

}


.card .fa-map {
    color: #E81B5C;
    font-size: 22px;

}

.card .red {
    font-family: "Inter", sans-serif;
    color: #E81B5C;


}

.card-ativo .p1 {
    display: none;
}

.card-ativo .fa-map {
    display: none;
}

.card .p1:hover {
    color: white;

}

.card .fa-map:hover {
    color: #fff;
}

.card .red:hover {
    color: #fff;
}

/* FIM DO CARD RED */

/* CARD YELLOW */

.card .p2 {
    color: #cde81b;
    font-size: 15px;
}


.card .fa-sun {
    color: #cde81b;
    font-size: 22px;

}

.card .yellow {
    font-family: "Inter", sans-serif;
    color: #cde81b;
}

.card-ativo .p2 {
    display: none;
}

.card-ativo .fa-sun {
    display: none;
}

.card .p2:hover {
    color: white;

}

.card .fa-sun:hover {
    color: #fff;
}

.card .yellow:hover {
    color: #fff;
}



/* FIM DO CARD YELLOW */

/* CARD BLUE */

.card .p3 {
    color: #331be8;
    font-size: 15px;
}

.card .fa-book {
    color: #331be8;
    font-size: 22px;
}

.card .blue {
    font-family: "Inter", sans-serif;
    color: #331be8;
}

.card-ativo .p3 {
    display: none;
}

.card-ativo .fa-book {
    display: none;
}

.card .p3:hover {
    color: white;

}

.card .fa-book:hover {
    color: #fff;
}

.card .blue:hover {
    color: #fff;
}



/* FIM DO CARD BLUE */

/* CARD ORANGE */


.card .p4 {
    color: #e86a1b;
    font-size: 15px;
}


.card .fa-hand-fist {
    color: #e86a1b;
    font-size: 22px;
}


.card .orange {
    font-family: "Inter", sans-serif;
    color: #e86a1b;
}

.card-ativo .p4 {
    display: none;
}

.card-ativo .fa-hand-fist {
    display: none;
}

.card .p4:hover {
    color: white;

}

.card .fa-hand-fist:hover {
    color: #fff;
}

.card .orange:hover {
    color: #fff;
}


/* FIM DO CARD ORANGE */

/*<<<SEGUNDO PILAR>>>*/

/*CARD GRAY*/


.card .p5 {
    color: #808080;
    font-size: 15px;
}


.card .fa-gear {
    color: #808080;
    font-size: 22px;
}


.card .gray {
    font-family: "Inter", sans-serif;
    color: #808080;
}

.card-ativo .p5 {
    display: none;
}

.card-ativo .fa-gear {
    display: none;
}

.card .p5:hover {
    color: white;

}

.card .fa-gear:hover {
    color: #fff;
}

.card .gray:hover {
    color: #fff;
}

/*FIM DO GRAY*/

/* CARD GREEN*/

.card .p6 {
    color: #00cc00;
    font-size: 15px;
}


.card .fa-check {
    color: #00cc00;
    font-size: 22px;
}


.card .green {
    font-family: "Inter", sans-serif;
    color: #00cc00;
}

.card-ativo .p6 {
    display: none;
}

.card-ativo .fa-check {
    display: none;
}

.card .p6:hover {
    color: white;

}

.card .fa-check:hover {
    color: #fff;
}

.card .green:hover {
    color: #fff;
}



/* FIM DO GREEN*/

/*CARD LIGHT-BLUE*/

.card .p7 {
    color: #007acc;
    font-size: 15px;
}


.card .fa-chalkboard-teacher {
    color: #007acc;
    font-size: 22px;
}


.card .light-blue {
    font-family: "Inter", sans-serif;
    color: #007acc;
}

.card-ativo .p7 {
    display: none;
}

.card-ativo .fa-chalkboard-teacher {
    display: none;
}

.card .p7:hover {
    color: white;

}

.card .fa-chalkboard-teacher:hover {
    color: #fff;
}

.card .light-blue:hover {
    color: #fff;
}


/*FIM DO LIGHT-BLUE*/

/*CARD DARK-BLUE*/

.card .p8 {
    color: hsl(214, 78%, 63%);
    font-size: 15px;
}


.card .fa-moon {
    color: hsl(214, 78%, 63%);
    font-size: 22px;
}


.card .dark-blue {
    font-family: "Inter", sans-serif;
    color: hsl(214, 78%, 63%);
}

.card-ativo .p8 {
    display: none;
}

.card-ativo .fa-moon {
    display: none;
}

.card .p8:hover {
    color: white;

}

.card .fa-moon:hover {
    color: #fff;
}

.card .dark-blue:hover {
    color: #fff;
}

/*FIM DO CARD DARK-BLUE*/

/*CARD DARK-RED*/


.card .p9 {
    color: #C62828;
    font-size: 15px;
}


.card .fa-utensils {
    color: #C62828;
    font-size: 22px;
}


.card .dark-red {
    font-family: "Inter", sans-serif;
    color: #C62828;
}

.card-ativo .p9 {
    display: none;
}

.card-ativo .fa-utensils {
    display: none;
}

.card .p9:hover {
    color: white;

}

.card .fa-utensils:hover {
    color: #fff;
}

.card .dark-red:hover {
    color: #fff;
}

/*FIM DO CARD DARK-RED*/

/*CARD DARK-ORANGE*/

.card .p10 {
    color: #FF5722;
    font-size: 15px;
}


.card .fa-dumbbell {
    color: #FF5722;
    font-size: 22px;
}


.card .dark-orange {
    font-family: "Inter", sans-serif;
    color: #FF5722;
}

.card-ativo .p10 {
    display: none;
}

.card-ativo .fa-dumbbell {
    display: none;
}

.card .p10:hover {
    color: white;

}

.card .fa-dumbbell:hover {
    color: #fff;
}

.card .dark-orange:hover {
    color: #fff;
}

/*FIM DO CARD DARK-ORANGE*/

/*CARD VERDE*/

.card .p11 {
    color: #4CAF50;
    font-size: 15px;
}


.card .fa-history {
    color: #4CAF50;
    font-size: 22px;
}


.card .verde {
    font-family: "Inter", sans-serif;
    color: #4CAF50;
}

.card-ativo .p11 {
    display: none;
}

.card-ativo .fa-history {
    display: none;
}

.card .p11:hover {
    color: white;

}

.card .fa-history:hover {
    color: #fff;
}

.card .verde:hover {
    color: #fff;
}

/*FIM DO CARD VERDE*/

/*CARD AMARELO*/

.card .p12 {
    color: #FFC107;
    font-size: 15px;
}


.card .fa-clock {
    color: #FFC107;
    font-size: 22px;
}


.card .amarelo {
    font-family: "Inter", sans-serif;
    color: #FFC107;
}

.card-ativo .p12 {
    display: none;
}

.card-ativo .fa-clock {
    display: none;
}

.card .p12:hover {
    color: white;

}

.card .fa-clock:hover {
    color: #fff;
}

.card .amarelo:hover {
    color: #fff;
}

/*FIM DO CARD AMARELO*/

/*CARD AZUL*/

.card .p13 {
    color: #2196F3;
    font-size: 15px;
}


.card .fa-brain {
    color: #2196F3;
    font-size: 22px;
}


.card .azul {
    font-family: "Inter", sans-serif;
    color: #2196F3;
}

.card-ativo .p13 {
    display: none;
}

.card-ativo .fa-brain {
    display: none;
}

.card .p13:hover {
    color: white;

}

.card .fa-brain:hover {
    color: #fff;
}

.card .azul:hover {
    color: #fff;
}

/*FIM DO CARD AZUL*/




@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}
