@media screen and (max-width: 768px) {

    h1,
    .titulo,
    .p-titulo,
    .card {
        width: 100%;
        display: block;
    }

    .pilar {
        flex-direction: column;
    }
}
